<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
  <hr>
<h2><%= @user.username %> is hosting the following events:</h2>
  <% if @user.events.empty? %>
    <p>None at this time.</p>
  <% else %>
    <table class="table">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Location</th>
    </tr>
    <% @user.events.each do |e| %>
      <tr>
        <td><%= e.date %></td>
        <td><%= link_to e.description, e %></td>
        <td><%= e.location %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
<h2><%= @user.username %> is attending the following events:</h2>
  <% if @user.attended_events.empty? %>
    <p>None at this time.</p>
  <% else %>
    <table class="table">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Location</th>
    </tr>
    <% @user.attended_events.each do |e| %>
      <tr>
        <td><%= e.date %></td>
        <td><%= e.description %></td>
        <td><%= e.location %></td>
      </tr>
    <% end %>
    </table>
  <% end %>

<%= link_to 'Back', users_path %>
