<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator.username %>
</p>

<table>
  <tr>
    <th>Attendees</th>
  </tr>
  <% @event.attendees.each do |attendee| %>
    <td><%= attendee.username %></td>
  <% end %>
</table>


<%= link_to 'Back', events_path %>
