<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator.username %>
</p>

<table class="table">
  <tr>
    <th>Attendees</th><th></th>
  </tr>
  <% if @event.attendees.blank? %>
    <td> -Nobody has been invited yet- </td>
  <% else %>
    <% @event.attendees.each do |attendee| %>
      <tr>
      <td><%= attendee.username %></td>
      <td><%= link_to 'Uninvite', "#{@event.id}/invitations/#{attendee.id}", method: 'delete' %>
      </tr>
    <% end %>
  <% end %>
</table>
<div>
  <% if @authorized_inviter == true %>
    <%= form_with(model: @invitation, url: "/events/#{@event.id}/invitations", method: 'post', local: true) do |form| %>
      <div class = "hidden-field">
        <%= form.hidden_field :event, value: @event.id %>
      </div>
      <div class="field">
        <%= form.label :attendee %>
        <%= form.text_field :attendee %>
      </div>
      <div class="actions">
        <%= form.submit class: "btn" %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Back', events_path %>
