<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !session[:user_id].nil? %>
      <p><%= User.find_by(id: session[:user_id]).username %> is currently signed in. <%= link_to 'sign out', logout_path, method: :delete %></p>
    <% else %>
      <p>No user is currently signed in. <%= link_to 'sign in', login_path %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
